@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

@media (min-width: 700px) {
  body {
    background-size: auto;
  }
}

.container {
  margin-top: auto;
}

.main {
  padding: 1.5em;
  margin: 0 auto;
  max-width: 500px;
}

@media (min-width: 1000px) {
  .main {
    max-width: 1440px;
    padding: 1.5em 4em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.image-container {
  position: relative;
  padding: 9% 11%;
}

@media (min-width: 1000px) {
  .image-container {
    flex: 1 1 50%;
    padding: 3.5em;
    max-width: 600px;
  }
}

.image-container::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 10;
}

.image-container__wraper {
  position: relative;
  border-radius: 6px;
  box-shadow: 0 20px 30px 10px rgba(186, 186, 207, 0.25);
  z-index: 20;
  max-width: 470px;
}

.image-container .avatar {
  border-radius: 6px;
}

.image-container .control {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  border-radius: 30px;
  background-color: white;
  filter: drop-shadow(-5px 20px 10px rgba(186, 186, 207, 0.5));
  overflow: hidden;
  transform: translate(-50%, 50%);
  z-index: 30;
}

@media (min-width: 1000px) {
  .image-container .control {
    left: 10%;
    transform: translate(0, 50%);
  }
}

.image-container .right-arrow, .image-container .left-arrow {
  flex: 1 1 45%;
  padding: 0.65em 0.75em;
  cursor: pointer;
}

.image-container .left-arrow img, .image-container .right-arrow img {
  width: 12px;
}

.image-container .right-arrow img {
  transform: rotate(180deg);
  margin-left: auto;
}

.text-container {
  margin: 2em 0 1em 0;
  text-align: center;
}

@media (min-width: 1000px) {
  .text-container {
    flex: 1 1 50%;
    max-width: 650px;
    position: relative;
    left: 10%;
    text-align: left;
    z-index: 100;
  }
}

@media (min-width: 1400px) {
  .text-container {
    left: 15%;
  }
}

.text-container .testimonial {
  position: relative;
  font-size: 1.2rem;
  font-weight: 300;
  color: #202046;
  line-height: 1.4;
  margin: 3em 0 1em 0;
}

@media (min-width: 1000px) {
  .text-container .testimonial {
    font-size: 2rem;
    font-size: clamp(1.5rem, 2.2vw, 2rem);
    max-width: 1000px;
  }
}

.text-container .testimonial::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -39%);
  background-image: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 1000px) {
  .text-container .testimonial::after {
    width: 90px;
    height: 90px;
    left: 15%;
    transform: translate(0, -45%);
  }
}

@media (min-width: 1000px) {
  .text-container .personal-info {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: clamp(1.05rem, 1.8vw, 1.4rem);
  }
}

.text-container .name {
  color: #202046;
  font-weight: 700;
  font-size: 1.05rem;
  margin-bottom: 0.2em;
}

@media (min-width: 1000px) {
  .text-container .name {
    margin-bottom: 0;
    font-size: clamp(1.05rem, 1.8vw, 1.4rem);
  }
}

.text-container .position {
  color: #babacf;
}

.footer {
  margin-top: auto;
}
/*# sourceMappingURL=main.css.map */